#include <windows.h>

// Version Information
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Michael D Shortland (aka BarefootMike) with his wonderful assistant WarpTerminal"
            VALUE "FileDescription", "Rainmeter skin and widget management application"
            VALUE "FileVersion", "*******"
            VALUE "InternalName", "RainmeterManager"
            VALUE "LegalCopyright", "Copyright (c) 2025 Michael D Shortland"
            VALUE "OriginalFilename", "RainmeterManager.exe"
            VALUE "ProductName", "Rainmeter Manager"
            VALUE "ProductVersion", "*******"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

// Application Icon
IDI_ICON1               ICON    "icons/icon.ico"

// Application Manifest
1                       RT_MANIFEST "manifests/manifest.xml"
